/* About.css */
.about {
  width: 1200px;
  margin: 0rem auto;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  padding-top: 2rem;
}

.about-left {
  width: 50%;
  padding: 0 10px;
}

.about-btn {
  margin-top: 1.5rem;
}

/* Right */
.about-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-right-h3 {
  font-size: 22px;
  font-weight: 400;
}

.language-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.language-list li {
  list-style: none;
  background: #b7b7b734;
}

.language-list .language {
  color: var(--color-white);
  width: 350px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 50px;
}

/* Scroll */
.auto-scroll {
  margin: 5rem 4rem 4rem;
}

.tech-h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  padding: 1rem 0;
}

.tech-stacks {
  margin-top: 2rem;
}

.tech-stacks img {
  width: 250px;
  padding: 0 10px;
}

/* Experience */
.experience {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.timeline-h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  padding: 1rem 0;
}

.timeline-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.title {
  font-weight: bold;
}

.company {
  color: var(--color-orange);
}

.period {
  color: #888;
  text-align: right;
}

/* Responsive design */
@media (max-width: 768px) {
  .experience {
    margin: 0px;
  }

  .period {
    text-align: left;
  }
}

/* Education */
.education {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.education-h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  padding: 1rem 0;
}

.education-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 3rem;
  justify-content: center;
}

.education-timeline {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.education-title {
  font-weight: bold;
}

.education-company {
  color: var(--color-orange);
}

.education-period {
  color: #888;
  text-align: right;
}

/* Responsive design */
@media (max-width: 768px) {
  .education {
    margin: 0px;
  }

  .education-period {
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    width: 100%;
  }

  .about-left {
    width: 95%;
  }

  .about-wrapper {
    flex-direction: column;
    padding-top: 0;
  }

  .language-list {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .language-list .language {
    width: 300px;
  }

  .auto-scroll {
    margin: 2rem 1rem 2rem;
  }

  .tech-images img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 600px) {
  .about-left {
    text-align: center;
  }

  .about-right {
    margin-top: 3rem;
  }

  .tech-stacks img {
    width: 150px;
    padding: 0 10px;
  }
}