/* index.css */
/* RESET & BASE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #fc451d;
  --color-grey: #b7b7b7;

  --icon-background-color: #454e56;
  --input-background-color: #f8f8f8;

  --font-primary: "GeistSans", "GeistSans Fallback", sans-serif;
}

html {
  font-size: 16px;
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background: #000000;
  background-image:
    radial-gradient(circle at 25px 25px, rgba(255, 255, 255, 0.01) 2%, transparent 0%),
    radial-gradient(circle at 75px 75px, rgba(255, 255, 255, 0.01) 2%, transparent 0%);
  background-size: 100px 100px;
  color: var(--color-white);
  cursor: none;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.animated-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* GLOBAL UTILITIES */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Buttons (default) */
.btn button {
  align-self: flex-end;
  padding: 0.8rem 1.8rem;
  background: var(--color-orange);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--color-orange);
  transition: background 0.35s ease, color 0.35s ease, border 0.35s ease,
    box-shadow 0.35s ease;
}

.btn button:hover {
  background: transparent;
  color: var(--color-orange);
  box-shadow: 0 4px 12px rgba(255, 127, 80, 0.3);
}

/* RESPONSIVE */
@media screen and (max-width: 576px) {
  body {
    cursor: auto;
  }

  .animated-cursor {
    display: none;
  }

  .btn button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    display: block;
    align-self: center;
  }

  .btn button .icon-download {
    font-size: 16px;
    margin-left: 8px;
  }
}